body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

textarea {
    width: 100%;
    height: 90px;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

#generate {
    margin-top: 15px;
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
}

#result img {
    margin-top: 20px;
    width: 512px;
    border-radius: 8px;
}
